<!DOCTYPE html>
<html>
    <head>
      {% block stylesheets %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}" />
      {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="rainbow">
        <div class="container">

        <a class="navbar-brand" href="/">{% if name is defined %}{{ name }}{% endif %}</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {% if current_menu is defined and current_menu == 'home' %}active{% endif %}">
              <a class="nav-link" href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('article') }}">Articles</a>
            </li>
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item {% if current_menu is defined and current_menu == 'register' %}active{% endif %}">
              <a class="nav-link" href="/register">Inscription</a>
            </li>
            <li class="nav-item {% if current_menu is defined and current_menu == 'connexion' %}active{% endif %}">
              <a class="nav-link" href="/login">Connexion</a>
            </li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('profile') }}">            {{ app.user.username }} </a>
              </li>
              {% if is_granted('ROLE_ADMIN') %}
              <li>
                <a class="nav-link" href="{{ path('admin') }}"> Admin</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}">Deconnexion</a>
              </li>
            {% endif %}
          </ul>






          <form class="form-inline my-2 my-lg-0" action="{{ path('search') }}" method="post">
            <input class="form-control mr-sm-2" id="searchbar" name="query" type="search" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Rechercher</button>
          </form>







        </div>
        </div>
      </nav>
      {% block body %}{% endblock %}
      <footer class="section footer-classic context-dark bg-image" style="background: #343a40!important;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4">
                <br/><br/>
                <p>Réalisé par HUET Kévin, AUGER Clément, JUREDIEU Edgar<br/>Tous étudiants d'une même école, Epitech</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>Tous droits réservés</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <br/>
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Addresse :</dt>
                <dd> blablable</dd>
              </dl>
              <dl class="contact-list">
                <dt>Email:</dt>
                <dd><a href="mailto:#">kevin.huet@epitech.eu</a></dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <br/>
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="#">à propos</a></li>
                <li><a href="#">Projet</a></li>
                <li><a href="#">Github</a></li>
                <li><a href="#">Contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
        </div>
      </footer>
      <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
      <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
{% block javascripts %}
{% endblock %}
</html>