{% extends "base.html.twig" %}
{% block title 'EpiHub - Articles' %}
{% block body %}
    <div class="jumbotron" style="margin-bottom: 0;">
        <div class="container">
            <h1 class="display-4">Articles</h1>
            <p class="lead">Liste des derniers articles publiés</p>
            <hr class="my-4">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Comment créer un article
            </button>
        </div>
    </div>
    <div class="container" style="margin-top: 5%; margin-bottom: 5%">
        <div class="list-group">
            {%  for property in properties %}

            <hr>
            <a href="{{ path('article.show', {id: property.id, slug: property.slug}) }}" class="list-group-item list-group-item-action"  style="border-radius: 5px">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ property.title }}</h5>
                    </div>
                    <p class="mb-1"></p>
                </a>
            {%  if app.user.username is defined and app.user.username is same as("kevin.huet@epitech.eu") %}
                <a class="btn btn-error" href="{{ path('article.edit', {id: property.id}) }}">Editer</a>
                <a class="btn btn-error" href="{{ path('article.delete', {id: property.id}) }}">Supprimer</a>
            {% endif %}
            {% endfor %}
        </div>
        <a class="btn btn-primary" href="{{ path('article.create') }}" style="margin-top: 3%"> Créer un article</a>
    </div>
{% endblock %}